@import '@angular/material/prebuilt-themes/pink-bluegrey.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content {
    overflow: auto;
    position: absolute;
    top: 84px;
    bottom: 84px;
    width: 100%;
  }