  <div fxLayout="row" fxLayoutWrap fxLayoutGap="0" fxLayoutAlign="center" class="converter-card">
    <mat-card class="system-info-card mat-card">
      <mat-card-content _ngcontent-c16="" class="mat-card-content">
        <div class="d-flex no-block">
          <div class="stats">
            <mat-select [(value)]="selected">
              <mat-option *ngFor="let conversion of conversions" class="conversion-select">
                {{conversion.type}}
              </mat-option>
            </mat-select>
            <mat-select [(value)]="fromUnit">
              <mat-option *ngFor="let unit of selected.unitsOfMeasure" class="conversion-select">
                {{unit.description}}
              </mat-option>
            </mat-select>
            <mat-select [(value)]="toUnit">
              <mat-option *ngFor="let unit of selected.unitsOfMeasure" class="conversion-select">
                {{unit.description}}
              </mat-option>
            </mat-select>
            <button mat-raised-button="" class="mat-raised-button" (click)="convert($event, 'administrator')"><span
                class="mat-button-wrapper">Convert</span>
              <div class="mat-button-ripple mat-ripple" matripple=""></div>
              <div class="mat-button-focus-overlay"></div>
            </button>
          </div>
          <div class="stats-icon text-right ml-auto"><i class="fa fa-twitter display-5 op-3 text-white"></i></div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  