<div class="converter-wrapper">
  <div class="converter-main">
    <div class="conversion">
      <mat-select class="mat-select" [(ngModel)]="selectedConversion">
        <mat-option *ngFor="let conversion of conversionsDS" [value]="conversion" class="conversion-select">
          {{conversion.type}}
        </mat-option>
      </mat-select>
    </div>
    <div class="conversion-units">
      <div class="unit-from">
        <input matInput type="number" placeholder="From" value="0" class="unit from-input" [(ngModel)]="fromValue">
        <mat-select class="mat-select-from" [(ngModel)]="fromUnit">
          <ng-container *ngIf="selectedConversion">
            <mat-option *ngFor="let unitFrom of selectedConversion.unitsOfMeasure" [value]="unitFrom"
              class="conversion-select">
              {{unitFrom.description}}
            </mat-option>
          </ng-container>
        </mat-select>
      </div>
      <div class="unit-to">
        <input matInput type="number" placeholder="To" value="0" class="unit to-input" [(ngModel)]="toValue">
        <mat-select class="mat-select-to" [(ngModel)]="toUnit">
          <ng-container *ngIf="selectedConversion">
            <mat-option *ngFor="let unitTo of selectedConversion.unitsOfMeasure" [value]="unitTo"
              class="conversion-select">
              {{unitTo.description}}
            </mat-option>
          </ng-container>
        </mat-select>
      </div>
    </div>
    <div class="conversion-action">
      <button mat-raised-button="" class="mat-raised-button" (click)="convert()"><span
          class="mat-button-wrapper">Convert</span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </button>
    </div>
    <div class="conversion-result">
      <p>{{resultExpression}}</p>
    </div>
  </div>
</div>